---
import { SOCIAL_LINKS } from '@/consts'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-6">
  <div class="w-full flex justify-center">
    <span class="text-muted-foreground text-sm text-center">
      &copy; {new Date().getFullYear()} enscribe
    </span>
  </div>
</footer>

